<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>SocialHub</title>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
		<link rel="stylesheet" href="/css/styleold.css">
<!-- 
		<script>
			addEventListener("load", function () {
				setTimeout(hideURLbar, 0);
			}, false);
	
			function hideURLbar() {
				window.scrollTo(0, 1);
			}
		</script> -->
		
		<!-- animation css files -->
		<link rel="stylesheet" href="/css/animation-aos.css"> 
		<link href='/css/aos.css' rel='stylesheet prefetch' type="text/css" media="all" />
		<!-- //animation css files -->
		<!-- css files -->
		<link href="/css/bootstrap.css" rel='stylesheet' type='text/css' /><!-- bootstrap css -->
		<link href="/css/style.css" rel='stylesheet' type='text/css' /><!-- custom css -->
		<link href="/css/fontawesome-all.css" rel="stylesheet"><!-- fontawesome css -->
		<!-- //css files -->
		
		<!-- google fonts -->
		<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
	  <!-- //google fonts -->
	
	
	  <script src="/js/doTask.js"></script>
	
	  
	  <script src="/js/jquery-2.2.3.min.js"></script>
	  <script src="/js/bootstrap.js"></script>