<div class="nav-container">
    <div class="nav" >
        <div class="nav-logo nav-item" >
            <a href="#">SocialHub</a>
        </div>
        <div class="nav-links nav-item">
            <a href="/chat" >Chat</a>
            <a href="/search">Search</a>
            <a href="/marketplace">Market Place</a>
            <a href="/">Profile</a>
            <a href="/logout">Logout</a>
        </div>
        <div class="nav-cta nav-item">
            <a href="#">Connect with us</a>
        </div>
    </div>
</div>