<div class="nav-container">
    <div class="nav" >
        <div class="nav-logo nav-item" >
            <a href="#">SocialHub</a>
        </div>
        <div class="nav-links nav-item">
            <a href="http://localhost:8080/chat" >Chat</a>
            <a href="http://localhost:8080/search">Explore</a>
            <a href="http://localhost:8080/chat">Market Place</a>
            <a href="http://localhost:8080">Profile</a>
        </div>
        <div class="nav-cta nav-item">
            <a href="#">Connect with us</a>
        </div>
    </div>
</div>