<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/blob.css"> 
    <script src="/js/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>SocialHub</title>
</head>
<body>
    <div class="container"></div>
        <div class="nav-container">
            <div class="nav" >
                <div class="nav-logo nav-item" >
                    <a href="#">SocialHub</a>
                </div>
                <div class="nav-links nav-item">
                    <a href="#">Chat</a>
                    <a href="#">Explore</a>
                    <a href="#">Market Place</a>
                    <a href="#">Profile</a>
                </div>
                <div class="nav-cta nav-item">
                    <a href="#">Connect with us</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="blobs">
                <div class="blob a">a</div>
                <div class="blob b">b</div>
                <div class="blob c">c</div>
            </div>
        </div>
        <div class="hero-container">
            <div class="hero">
                <h1>Connect,<br />Inspired <br />Improve <br />Explore.</h1>
            <div class="cta">
                <button>Edit Profile</button>
            </div>
            
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Consequuntur mollitia totam pariatur unde explicabo dolorum dicta
                quod placeat odit facere.
            </p>
        </div> 
        <div class="blob blob-1"></div>
        <div class="blob blob-2"></div>
        <div class="blob blob-3"></div>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non reprehenderit iure voluptatibus illo explicabo est, nam delectus at, illum eius consectetur architecto quae nemo. Quisquam perferendis nisi obcaecati maxime? Quasi.
            Unde sunt voluptatum modi quis possimus ut nam recusandae. Nisi porro, eum excepturi blanditiis cupiditate sequi quae et iusto delectus neque consequatur officiis id quibusdam illo reiciendis. Incidunt, optio autem.
            Veritatis id, doloremque temporibus quam ea unde eum maxime, quis vitae et nam deleniti dolorem ipsa quibusdam sunt voluptatibus libero, quas aut repudiandae illum minima? Quasi perferendis velit aperiam placeat.
        </p>
    </div>


  <script src="/js/script.js"></script>

</body>
</html>
