<%- include('parcials/before_import') %>
<!-- <link href="https://fonts.cdnfonts.com/css/voyage" rel="stylesheet"> -->
<!-- <link href="https://fonts.cdnfonts.com/css/pp-neue-montreal" rel="stylesheet"> -->

<link rel="stylesheet" href="/css/style.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>

<%- include('parcials/after_import') %>
<div class="container"></div>
<%- include('parcials/nav') %>


    <h1>MarketPlace</h1>






<%- include('parcials/footer') %>
