<%- include('parcials/before_import') %>
		<link rel="stylesheet" href="/css/search.css" />

		<!-- locomotive-scroll -->
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.2.5/dist/locomotive-scroll.min.css"
		/>
		<script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.2.5/dist/locomotive-scroll.min.js"></script>
        <%- include('parcials/after_import') %>
	<body id="js-scroll">
		<div class="wrapper">
			<div class="container">



				<!-- navbar -->
                <%- include('parcials/nav') %>




				<div class="divider"></div>

				<section class="project">
					<div class="project-container">
						<div>
							<nav class="menu">
								<div class="menu__item">
									<a class="menu__item-link" href="https://Name1.netlify.app">/ Name1</a>
									<img class="menu__item-img" src="/images/1.jpg" />
									<div class="marquee">
										<div class="marquee__inner">
											<span>Name1</span>
											<span>Name1</span>
											<span>Name1</span>
											<span>Name1</span>
										</div>
									</div>
								</div>

								<div class="divider"></div>

								<div class="menu__item">
									<a class="menu__item-link" href="https://Name2.netlify.app">/ Name2</a>
									<img class="menu__item-img" src="/images/2.jpg" />
									<div class="marquee">
										<div class="marquee__inner">
											<span>Name2</span>
											<span>Name2</span>
											<span>Name2</span>
											<span>Name2</span>
										</div>
									</div>
								</div>



								<div class="divider"></div>

								<div class="menu__item">
									<a class="menu__item-link" href="https://movies007hunt.netlify.app">/ Name3</a>
									<img class="menu__item-img" src="/images/2.jpg" />
									<div class="marquee">
										<div class="marquee__inner">
											<span>Name3</span>
											<span>Name3</span>
											<span>Name3</span>
											<span>Name3</span>
										</div>
									</div>
								</div>

								<div class="divider"></div>

								<div class="menu__item">
									<a class="menu__item-link" href="https://www.researchgate.net/publication/339266198_Recursive_Stock_Price_Prediction_With_Machine_Learning_And_Web_Scrapping_For_Specified_Time_Period?_sg%5B0%5D=K5B4zvALEz-dEaPg1qEqMEU2gD05sggDTw-w90-3tqVxbM12HDIjHpH9E92p6nhVZHRLlQ0YjNplstk8Fqq9ByPpmQidUAVY2eURH2SA.FCtNmjKvF9ur5fVcf3yfgVNy5JYr52RwpHpAwAu92jD3ffYeaLeGz1uEHsR0DKBtuvugCZm4QDk61lNQVkFEcQ&_tp=eyJjb250ZXh0Ijp7ImZpcnN0UGFnZSI6Il9kaXJlY3QiLCJwYWdlIjoicHJvZmlsZSIsInBvc2l0aW9uIjoicGFnZUNvbnRlbnQifX0">/ Name4</a>
									<img class="menu__item-img" src="img/1.jpg" />
									<div class="marquee">
										<div class="marquee__inner" aria-hidden="true">
											<span>Name4</span>
											<span>Name4</span>
											<span>Name4</span>
											<span>Name4</span>
										</div>
									</div>
								</div> 

								<div class="divider"></div>


                                <div class="menu__item">
									<a class="menu__item-link" href="https://www.researchgate.net/publication/339266198_Recursive_Stock_Price_Prediction_With_Machine_Learning_And_Web_Scrapping_For_Specified_Time_Period?_sg%5B0%5D=K5B4zvALEz-dEaPg1qEqMEU2gD05sggDTw-w90-3tqVxbM12HDIjHpH9E92p6nhVZHRLlQ0YjNplstk8Fqq9ByPpmQidUAVY2eURH2SA.FCtNmjKvF9ur5fVcf3yfgVNy5JYr52RwpHpAwAu92jD3ffYeaLeGz1uEHsR0DKBtuvugCZm4QDk61lNQVkFEcQ&_tp=eyJjb250ZXh0Ijp7ImZpcnN0UGFnZSI6Il9kaXJlY3QiLCJwYWdlIjoicHJvZmlsZSIsInBvc2l0aW9uIjoicGFnZUNvbnRlbnQifX0">/ Name4</a>
									<img class="menu__item-img" src="img/1.jpg" />
									<div class="marquee">
										<div class="marquee__inner" aria-hidden="true">
											<span>Name5</span>
											<span>Name4</span>
											<span>Name4</span>
											<span>Name4</span>
										</div>
									</div>
								</div> 
								<div class="divider"></div>

                                <div class="menu__item">
									<a class="menu__item-link" href="https://www.researchgate.net/publication/339266198_Recursive_Stock_Price_Prediction_With_Machine_Learning_And_Web_Scrapping_For_Specified_Time_Period?_sg%5B0%5D=K5B4zvALEz-dEaPg1qEqMEU2gD05sggDTw-w90-3tqVxbM12HDIjHpH9E92p6nhVZHRLlQ0YjNplstk8Fqq9ByPpmQidUAVY2eURH2SA.FCtNmjKvF9ur5fVcf3yfgVNy5JYr52RwpHpAwAu92jD3ffYeaLeGz1uEHsR0DKBtuvugCZm4QDk61lNQVkFEcQ&_tp=eyJjb250ZXh0Ijp7ImZpcnN0UGFnZSI6Il9kaXJlY3QiLCJwYWdlIjoicHJvZmlsZSIsInBvc2l0aW9uIjoicGFnZUNvbnRlbnQifX0">/ Name4</a>
									<img class="menu__item-img" src="img/1.jpg" />
									<div class="marquee">
										<div class="marquee__inner" aria-hidden="true">
											<span>Name6</span>
											<span>Name4</span>
											<span>Name4</span>
											<span>Name4</span>
										</div>
									</div>
								</div> 
							</nav>
						</div>
					</div>
				</section>

				<div class="whitespace"></div>






			</div>
		</div>

		<script>
			const scroll = new LocomotiveScroll({
				el: document.querySelector("#js-scroll"),
				smooth: true,
				smoothMobile: true,
				inertia: 0.50,
			});
		</script>
        <script src="/script/scroll.js"></script>
	</body>
</html>
