* {
	margin: 0;
	padding: 0%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Sk-Modernist";
	color: #31473A;
}

html,
body {
	/* overflow-x: hidden; */
    background: #f9f9f9;

}

.wrapper {
	width: 100%;
	height: 100%;
}

.wrapper .container {
	width: 96%;
	margin: 0px auto;
}

.divider {
	width: 100%;
	height: 2px;
	background: #fff;
}

.whitespace {
	width: 100%;
	height: 80px;
}

/* navbar */

.navbar .navbar-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 12px 0;
	font-size: 16px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.navbar .navbar-container .site-title {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.navbar .navbar-container .site-type {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.navbar .navbar-container .site-year {
	-webkit-box-flex: 2;
	-ms-flex-positive: 2;
	flex-grow: 2;
	text-align: right;
}

/* header */

.header {
	margin: 80px 0;
	z-index: 2 !important;
}

.header .header-container h1 {
	font-family: "Bigilla";
	font-size: 12rem;
}

@media (max-width: 900px) {
	.header .header-container h1 {
		font-size: 5.4rem;
	}
}

/* hero-image */

.hero-image {
	width: 100%;
	margin-top: -300px;
}

.hero-image::after {
	content: "";
	display: table;
	clear: both;
}

.hero-image .hero-image-container {
	width: 40%;
	float: right;
}

.hero-image .hero-image-container img {
	width: 70%;
}

@media (max-width: 900px) {
	.hero-image {
		margin-top: 40px;
	}
	.hero-image .hero-image-container {
		width: 100%;
	}
}

/* section-header */

.section-header .section-header-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 12px 0;
	font-size: 16px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

/* about */

.about {
	width: 100%;
}

.about::after {
	content: "";
	display: table;
	clear: both;
}

.about .about-container {
	width: 70%;
	float: right;
}

.about .about-container p {
	margin: 40px 0;
	font-size: 36px;
}

@media (max-width: 900px) {
	.about .about-container {
		width: 100%;
	}
	.about .about-container p {
		font-size: 24px;
	}
}

/* projects */

.menu__item {
	position: relative;
	padding: 1.6vw 0 0 0;
	margin: 4px;
}

.menu__item-link {
	display: inline-block;
	cursor: pointer;
	position: relative;
	color: #31473A;
	-webkit-transition: opacity 0.4s;
	transition: opacity 0.4s;
	font-family: "Bigilla";
	text-transform: uppercase;
}

.menu__item-link::before {
	all: initial;
	text-transform: uppercase;
	counter-increment: menu;
	position: absolute;
	bottom: 60%;
	left: 0;
	pointer-events: none;
}

.menu__item-link:hover {
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
	opacity: 0;
}

.menu__item-img {
	pointer-events: none;
	position: absolute;
	height: 50vh;
	max-height: 400px;
	opacity: 0;
	left: 100%;
	top: 50%;
	-webkit-transform: translate3d(calc(-100% - 6vw), -30%, 0)
		translate3d(0, 20px, 0);
	transform: translate3d(calc(-100% - 6vw), -30%, 0) translate3d(0, 20px, 0);
}

.menu__item-link:hover + .menu__item-img {
	opacity: 1;
	-webkit-transform: translate3d(calc(-100% - 6vw), -30%, 0)
		rotate3d(0, 0, 1, 4deg);
	transform: translate3d(calc(-100% - 6vw), -30%, 0) rotate3d(0, 0, 1, 4deg);
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}

.menu {
	padding: 0vh 0 0 0vh;
	--offset: 20vw;
	--move-initial: calc(-25% + var(--offset));
	--move-final: calc(-50% + var(--offset));
	font-size: 8vw;
}

.marquee {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	color: #fff;
	pointer-events: none;
	mix-blend-mode: difference;
}

.marquee__inner {
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	-webkit-animation: marquee 5s linear infinite;
	animation: marquee 5s linear infinite;
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
	opacity: 0;
	-webkit-transition: opacity 0.1s;
	transition: opacity 0.1s;
	padding: 2vw 0;
}

.menu__item-link:hover ~ .marquee .marquee__inner {
	-webkit-animation-play-state: running;
	animation-play-state: running;
	opacity: 1;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

.menu__item-link,
.marquee span {
	white-space: nowrap;
	font-size: 8vw;
	padding: 1.6vw 1vw;
	font-weight: 900;
}

.marquee span {
	font-family: "Bigilla" !important;
	text-transform: uppercase;
}

@-webkit-keyframes marquee {
	0% {
		-webkit-transform: translate3d(var(--move-initial), 0, 0);
		transform: translate3d(var(--move-initial), 0, 0);
	}
	100% {
		-webkit-transform: translate3d(var(--move-final), 0, 0);
		transform: translate3d(var(--move-final), 0, 0);
	}
}

@keyframes marquee {
	0% {
		-webkit-transform: translate3d(var(--move-initial), 0, 0);
		transform: translate3d(var(--move-initial), 0, 0);
	}
	100% {
		-webkit-transform: translate3d(var(--move-final), 0, 0);
		transform: translate3d(var(--move-final), 0, 0);
	}
}

/* clients */

.clients .clients-container p {
	font-family: "Bigilla";
	font-size: 80px;
	line-height: 100px;
}

@media (max-width: 900px) {
	.clients .clients-container p {
		font-size: 36px;
		line-height: 50px;
		text-align: justify;
	}
}

/* socials */

.socials {
	padding: 20px 0;
}

.socials .socials-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.socials .socials-container a {
	cursor: pointer;
	text-decoration: none;
	font-family: "Bigilla" !important;
	font-size: 64px;
}

@media (max-width: 900px) {
	.socials .socials-container a {
		font-size: 30px;
	}
}


.nav-container {
    width: 100%;
    position: relative;
}
.nav{
    width: 95%;
    margin: 0 auto;
    padding: 2em 0;
    display: flex;
    border-bottom: 1px solid #000;
}

.nav-item{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item:nth-child(2){
    flex:4;
}
.nav-item:first-child{
   margin-left: auto;
}

.nav-item a{
    text-decoration: none;
    color: #000;
   font-family: "PP Neue Montreal";
}

.nav-logo a {
    font-family: "KenokyLight";
    font-size: 20px;
    font-weight: 600;
}

.nav-cta a{
    text-decoration: uppercase;
    font-size: 14px;
}

.nav-links a{
    padding: 0 2em;
    font-size: 14px;
}

@media (max-width: 900px) {
    .nav {
        width: 100%;
    }
    nav-links,nav-cta {
        display: none;
    }
 

}



@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

.search_con {
  padding: 5rem 0;
	 width: 100%;
   height: 100%;
	 display: flex;
	 justify-content: flex-start;
	 align-items: center;
	 -webkit-font-smoothing: antialiased;
	 -moz-osx-font-smoothing: grayscale;
}
 .search_con .input_con {
   margin: auto;
	 width: 550px;
	 height: 2.5rem;
	 background-color: white;
	 border: 1px solid #2d4bf0;
	 display: flex;
	 align-items: center;
	 justify-content: space-between;
	 overflow: hidden;
	 border-radius: 9999px;
	 transition: all 0.2s ease;
	 outline: 3px solid transparent;
}
 .search_con .input_con:focus-within {
	 outline: 3px solid #c8d5f3;
}
 .search_con .input_con input {
	 padding: 0 0.5rem 0 1rem;
	 width: 100%;
	 font-size: 15px;
	 color: #1d1d1d;
}
 .search_con .input_con span {
	 height: 100%;
	 display: flex;
	 align-items: center;
}
 .search_con .input_con span .bi {
	 padding: 0 0.5rem;
	 color: #1d1d1d;
	 font-size: 15px;
	 line-height: 2.5rem;
	 cursor: pointer;
	 color: rgba(0, 0, 0, 0.733);
}
 .search_con .input_con span .bi:hover {
	 color: #2d4bf0;
}
 .search_con .input_con span .bi-search {
	 padding-right: 1rem;
}
 .search_con .input_con .h-line {
	 height: 50%;
	 width: 1px;
	 background-color: #1d1d1d;
}




.story-bar {
	display: flex;
	overflow-x: auto;
	padding: 20px;
	background-color: #fff;
	gap: 15px;
	border-bottom: 1px solid #ddd;
  }
  
  .story {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 70px;
	flex-shrink: 0;
	text-align: center;
	font-size: 12px;
	color: #333;
  }
  
  .story-image {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 3px solid #c13584;
	overflow: hidden;
	padding: 2px;
  }
  
  .story-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
  }
  
  .story-username {
	margin-top: 5px;
	word-break: break-word;
  }
  